   
/*To link to this file on your webpage:
    <head>
    <link rel="stylesheet" href="Website.css">
</head>
    Reference:
    https://www.w3schools.com/html/html_css.asp
*/

body {
    padding: 250px 0;
    text-align:center;
    background-color: #3F5CF3
}
h1{color:#FFFFFF}
h2{color:#FFFFFF}
p{color:#FFFFFF}
label{
 

color: #FFFFFF;
}

input{
  

background: #FFFFFF;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }

  .center{
      margin-left:auto;
      margin-right:auto;
  }