/*To link to this file on your webpage:
    <head>
    <link rel="stylesheet" href="WebsiteCSS.css">
</head>
    Reference:
    https://www.w3schools.com/html/html_css.asp
*/

body {
    padding: 250px 0;
    text-align:center;
    background-color: #3F5CF3
}
