<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/css/Website.CSS">
    <title>Create a New Account</title>
    <script>src="../static/js/CreateAccountScript.js"</script>
</head>

<body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
             
                <label>{{message}}<label>

            {% endfor %}
          {% endif %}
        {% endwith %}
        
        {% block body %}{% endblock %}
    <h1>Create a New Account</h1>
    <form id=myform action="/createaccount" method="post">
        <p>
            <label><b> Username:</b></label>
        </p>
        <p>
            <input type="text" placeholder="Enter Username" name="username" required>
        </p>
        <p>
            <label><b>Password:</b></label>
        </p>
        <p>
            <input type="password" placeholder="Enter Password" name="password" required>
        </p>
        <p>
            <label><b>Confirm Password:</b></label>
        </p>
        <p>
            <input type="password" placeholder="Confirm Password" name="password_confirm" required>
        </p>
        <p>
            <button type="submit">Create an Account</button>
        </p>
    </form>
    
</body>

</html>