<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<!-- Tasks #6, #39-->
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="static/Website.CSS">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Game Page</title>
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <h2>Four in a Sequence</h2>
    <button class="gamebutton" id = "0" onclick="dropChecker(id)">Drop</button>
    <button class="gamebutton" id = "1" onclick="dropChecker(id)">Drop</button>
    <button class="gamebutton" id = "2" onclick="dropChecker(id)">Drop</button>
    <button class="gamebutton" id = "3" onclick="dropChecker(id)">Drop</button>
    <button class="gamebutton" id = "4" onclick="dropChecker(id)">Drop</button>
    <button class="gamebutton" id = "5" onclick="dropChecker(id)">Drop</button>
    <button class="gamebutton" id = "6" onclick="dropChecker(id)">Drop</button>

  
    <div class = "game-board">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        
    </div>

    
<!-- Modal -->
<div class="modal fade" id="p1win" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">GAME OVER!!!</h5>
        </div>
        <div class="modal-body">
          Player 1 Wins!!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="rematch();">Rematch</button>
          <button type="button" class="btn btn-primary" onclick="location.href='https://four-in-a-sequence.herokuapp.com/landingpage';">Exit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="p2win" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">GAME OVER!!!</h5>
        </div>
        <div class="modal-body">
          Player 2 Wins!!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="rematch()">Rematch</button>
          <button type="button" class="btn btn-primary" onclick="location.href='https://four-in-a-sequence.herokuapp.com/landingpage';">Exit</button>
        </div>
      </div>
    </div>
  </div>

<script src="fourSeq.js"></script>

</body>
</html>
