<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="static/Website.CSS">
    <h1 style="font-size:60px;">Connect Four</h1>
</head>

<body>
  <p>
    <a href="Login Page.html">Login Page(correctness test)</a> 
    <input type="button" onclick="location.href='Login Page.html';" value="Login" />
    <input type="button" onclick="location.href='CreateAccount.html';" value="Sign up" />
    <input type="button" onclick="location.href='https://buffalobills.com';" value="Play as Guest" />
  <p>
