<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="static/Website.CSS">
    <h1 style="font-size:60px;">Connect Four</h1>
</head>

<body>
  <p>
    <input type="button" onclick="location.href='https://four-in-a-sequence.herokuapp.com/login';" value="login" />
    <input type="button" onclick="location.href='https://four-in-a-sequence.herokuapp.com/signup';" value="signup" />
    <input type="button" onclick="location.href='https://buffalobills.com';" value="Play as Guest" />
    <input type="button" onclick="location.href='https://four-in-a-sequence.herokuapp.com/tutorial';" value="Tutorial" />  
    <input type="button" onclick="location.href='https://four-in-a-sequence.herokuapp.com/SupportPage';" value="Support Page"/>
  <p>
</body>
</html>
