<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../static/css/Website.CSS">
    <meta charset="utf-8" />
    <title>Login Page</title>

</head>
<body>
    <!-- need some basic script on back end to redirect to dummy pages -->
    <h1 style="text-align:center ; color:white">User Login</h1>
    <form action = "/login" method="post">
        <label for="username" style="text-align:center; color:white">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password" style="text-align:center; color:white">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Game Time"><br />
        <a href="https://four-in-a-sequence.herokuapp.com/signup">Create new account</a><br />
        <input type="button" onclick="location.href='https://four-in-a-sequence.herokuapp.com/SupportPage';" value="Support Page"/>
    </form>
</body>
</html>
