<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../static/css/Website.CSS">
    <meta charset="utf-8" />
    <title>Login Page</title>

</head>
<body>
    <!-- need some basic script on back end to redirect to dummy pages -->
    <h1 style="text-align:center ; color:white">User Login</h1>
    <form action="/login" id="sign-up-form" method="post" enctype="multipart/form-data">
                <div class="username-field">
                    <label for="text-form-username">Username: </label>
                    <input id="text-form-username" type="text" name="username">
                </div>
                <div class="password-field">
                    <label for="form-password">Password: </label>
                    <input id="form-password" type="password" name="password">
                </div>
                <div class="submit-button">
                    <input type="submit" value="Submit">
                </div>
    </form>
</body>
</html>
