<head>
    <link rel="stylesheet" href="static/Website.css">
    <meta charset="utf-8" />
    <title>How to Play</title>
</head>
<!--Landing, Home, Profile need to be linked -> This page-->
<!--This page can be linked -> to those pages-->

<body>
    <h2>Rules</h2>
    <p>Four in a Sequence is a game played on a 7 column x 6 row board.<br>  
       The object of the game is to get four of your color tokens in a continuous sequence in a straight line.<br>  
       The line can be either left – right, up – down or diagonal.<br>  
       The sequence in which the game is played follows this pattern:<br>
    </p>
    <p>
        <!--Center align all these numbers, use a table or form maybe-->
        1)	One player will be randomly chosen to go first, players will alternate taking turns until game ends.<br>
        2)	When it is your turn pick a column on which in which to place your token.  Your token will occupy the lowest open space in the column.<br>
        3)	Play continues until one player achieves four in a sequence or such a result is no longer possible.<br>
    </p>
    <p>
        Whichever player gets four in a sequence wins the game.<br>  
        If neither player is able to get four in a row the game ends in a draw.<br>
    </p>
    <h2>Strategies</h2>
    <p>
        <u>Think ahead:</u><br>  
        What is your opponent going to do in response to your move?<br> 
        What will you do in response to theirs?  The further you can plan ahead the better you can control the game.<br>
    </p>
    <p>
        <u>Control the center:</u><br>  
        The board is only 7 spaces wide which means any winning lines which are not vertical<!--emphasize must--> must go through the center column.<br>
    </p>
    <p>
        <u>Play from the bottom up:</u><br>  
        Remember that columns must be filled from the bottom line up.<br>  
        Focus your attention on the lowest open spaces in each column.<br>  
        Don’t worry too much about game ending moves that require spaces yet to be filled.  Just remember not to fill them yourself.<br>
    </p>
    <p>
        <u>Have multiple ways to win:</u><br>  
        If you can get two rows of three at a time your opponent can only respond to one.<br>  
        Ideally you should have one be completable if the other is blocked resulting in a guaranteed win.<br>  
        Or have it so your opponent has the option of only blocking one of the two sequences.<br>
    </p>
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
       </form>
<input type="button" onclick="location.href='https://four-in-a-sequence.herokuapp.com/landingpage';" value="Landing Page" />
<input type="button" onclick="location.href='https://four-in-a-sequence.herokuapp.com';" value="Home Page" />
<input type="button" onclick="location.href='https://four-in-a-sequence.herokuapp.com/ProfilePage';" value="Profile Page" />    

    
    
</body>
